﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="igPmBYDYdFXoqIbbEqwYz_cveh0hpjerMLFRVAEGQl8" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css/bootstrap")
    @Styles.Render("~/Content/css")
</head>
<body>
    @RenderPage("_Header.cshtml")
    <div class="container">
    @RenderBody()
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    @Scripts.Render("~/Scripts/javascript")
    @Scripts.Render("~/Scripts/javascript/datimagedata")
    @RenderSection("scripts", required: false)
    @RenderPage("_GoogleAnalytics.cshtml")
</body>
</html>