﻿<div id="view-index">
    <div class="row-fluid">
        <div class="span10">
            <input placeholder="http://imageurl.here" class="input-block-level" type="text" data-bind="value: imageUrl" />
        </div>
        <div class="span2">
            <button class="btn btn-primary btn-block" data-bind="click: getImageDataByUrl">Get Image</button>
        </div>
    </div>
@*    <div>
        <input type="file" id="file-input" name="files" />
    </div>
    <div id="file-dropbox" style="width:400px;height:200px; background-color:lightgrey;">
        <span>Drop file here...</span>
    </div>*@
    <div class="row-fluid">
        <textarea id="index-result" data-bind="value: imageDataResult" class="span12"></textarea>
    </div>
</div>